name: e2e

on:
  push:
    branches: [main]

jobs:
  run:
    environment: e2e
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false
      - name: Get Go environment
        id: go-env
        run: |
          echo "cache=$(go env GOCACHE)" >> $GITHUB_ENV
          echo "modcache=$(go env GOMODCACHE)" >> $GITHUB_ENV

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.cache }}
            ${{ env.modcache }}
          key: e2e-${{ runner.os }}-${{ runner.arch }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            e2e-${{ runner.os }}-${{ runner.arch }}-go-

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          lfs: true

      - uses: hashicorp/setup-terraform@v3

      - name: Generate ed25519 key pair
        run: ssh-keygen -t ed25519 -f ~/.ssh/id_ed25519 -N ""

      - name: Prepare terraform
        run: go run ./cmd/ki-prepare-tf --worker-count=1 --worker-type=cpx21 --ssh-key-name=nexus
        env:
          HETZNER_TOKEN: ${{ secrets.HETZNER_TOKEN }}

      - name: Destroy all state
        run: go run ./cmd/ki-destroy
        env:
          HETZNER_TOKEN: ${{ secrets.HETZNER_TOKEN }}

      - name: Run terraform
        run: |
          terraform init
          terraform apply -auto-approve -var-file .tfvars

      - name: Check and destroy
        run: go run ./cmd/ki-check --cleanup --timeout 5m
        env:
          HETZNER_TOKEN: ${{ secrets.HETZNER_TOKEN }}
